.DS_Store
fitbit/Makefile
spotify/Makefile
weather/Makefile
fitbit/__pycache__/*
*-checkpoint.ipynb
fitbit_steps/Makefile
swarmapp/Makefile
fitbit-sleep/Makefile
geckodriver.log
places-summarized/Makefile
fitbit-sleep/data/.Rhistory
*notebook.nb.html
